$primary_color: #768591;
$secondary_color: #dea800;
$third_color: #a8c0ce;
$text_color: #06111c;
$gray: #aab0b5;
$dark: #332e42;
$red: #d90d1e;
$dark_red: #8c031c;

%flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

%list-style {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

body {
  font-size: 16px;
  color: $text_color;
  line-height: 1.4;
}

.primary_bg {
  background-color: $primary_color;
}

.secondary_bg {
  background-color: $secondary_color;
}

.dark_bg {
  background-color: $dark;
}

.gray_bg {
  background-color: $gray;
}

.color {
  &-theme {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-box {
    width: 60px;
    height: 60px;
    border: 1px solid $text_color;
    border-radius: 4px;
    margin-right: 4px;
  }
}

#app {
  margin: 20px auto;
  padding: 3rem;
  background-color: $secondary_color;
  @extend %flex-center;
}

#events {
  background-color: $primary_color;
  color: #ffffff;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#calender {
  max-width: 504px;
  background: #ffffff;
  box-shadow: 0 8px 20px transparentize($dark, $amount: 0.7);
}

.day,
.date {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @extend %list-style;

    &-item {
      border: 1px solid transparentize($third_color, $amount: 0.95);
      width: calc(100% / 7);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.day {
  &-list {
    &-item {
      line-height: 56px;
      height: 56px;
      font-weight: bold;
      color: $dark;
      opacity: 0.6;
      background-color: transparentize($third_color, $amount: 0.8);

      // &.holiday {
      //   background-color: transparentize($red, $amount: 0.8);
      //   border-color: transparentize($dark_red, $amount: 0.95);
      //   color: $dark_red;
      // }

      &.active {
        opacity: 1;
      }
    }
  }
}

.date {
  &-list {
    &-item {
      line-height: 72px;
      height: 72px;
      @extend %flex-center;
      justify-content: center;
      span {
        width: 48px;
        height: 48px;
        line-height: 48px;
        display: inline-block;
        vertical-align: middle;
      }

      &.prev,
      &.next {
        &-month {
          color: transparentize($dark, 0.5);

          &.holiday {
            color: transparentize($dark_red, $amount: 0.4);
          }
        }
      }
      &.active {
        span {
          border-radius: 50%;
          font-weight: bold;
          background-color: $third_color;
          box-shadow: 0 8px 20px transparentize($dark, $amount: 0.7);
        }
      }

      &.holiday {
        color: $dark_red;
        // span {
        //   position: relative;

        //   &::before {
        //     content: "";
        //     background-color: transparentize($red, $amount: 0.3);
        //     width: 0.25rem;
        //     height: 0.25rem;
        //     position: absolute;
        //     bottom: 0.5rem;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     border-radius: 50%;
        //   }
        // }
        // background-color: transparentize($red, $amount: 0.8);
        // border-color: transparentize($dark_red, $amount: 0.95);
        // font-weight: bold;
      }
    }
  }
}

.month-and-year {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $dark;
    margin: 1rem 0;
    font-weight: normal;
  }
}

.cal-nav {
  width: 48px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: $text_color;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.current-date {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.event {
  &-wrapper {
    border-top: 1px dashed $secondary_color;
    padding-top: 2rem;
  }

  &-header {
    @extend %flex-center;
    margin-bottom: 1rem;
    h5 {
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    button {
      background: #ffffff;
      border: 0;
      color: $text_color;
      font-size: 2rem;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 0;
      border-radius: 50%;
      cursor: pointer;

      span {
        position: relative;
        top: -4px;
      }
    }
  }

  &-list {
    @extend %list-style;
    counter-reset: li;

    &-item {
      margin-bottom: 1rem;
      padding-left: 2rem;
      position: relative;

      &::before {
        content: counter(li) ". ";
        counter-increment: li;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.5rem;
        opacity: 0.8;
      }
    }
  }

  &-title {
    font-size: 1.25rem;
  }

  &-des {
    @extend %flex-center;
    opacity: 0.5;
  }
}

@media only screen and (min-width: 992px) {
  #app {
    padding: 5rem;
  }

  #events {
    min-width: 266px;
    max-width: calc(100% - 504px);
    min-height: 620px;
  }
}

@media only screen and (max-width: 991px) {
  #calender {
    margin: 0 auto 3rem;
  }
}

@media only screen and (max-width: 629px) {
  #app,
  #events {
    padding: 1rem;
  }

  #calender {
    margin: 0 auto 1rem;
  }

  .month-and-year {
    h4 {
      margin: 1rem 0;
      font-size: 1.2rem;
    }
  }

  .date-list-item {
    line-height: 54px;
    height: 54px;
  }

  h2#show-date {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .event-wrapper {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 629px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .date-list-item {
    line-height: 40px;
    height: 41px;
  }
}
